execution_log_119.json
{
  "id": "119",
  "finished": false,
  "mode": "trigger",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "error",
  "createdAt": "2025-12-14T00:08:18.014Z",
  "startedAt": "2025-12-14T00:08:18.029Z",
  "stoppedAt": "2025-12-14T00:08:22.191Z",
  "deletedAt": null,
  "workflowId": "HDmC5rU2YOZxaxIY",
  "waitTill": null,
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "error": {
        "level": "warning",
        "tags": {},
        "description": "Gemini API Error: 429 - {\n  \"error\": {\n    \"code\": 429,\n    \"message\": \"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/usage?tab=rate-limit. \\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\nPlease retry in 37.893430006s.\",\n    \"status\": \"RESOURCE_EXHAUSTED\",\n    \"details\": [\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.Help\",\n        \"links\": [\n          {\n            \"description\": \"Learn more about Gemini API quotas\",\n            \"url\": \"https://ai.google.dev/gemini-api/docs/rate-limits\"\n          }\n        ]\n      },\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.QuotaFailure\",\n        \"violations\": [\n          {\n            \"quotaMetric\": \"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\n            \"quotaId\": \"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\n            \"quotaDimensions\": {\n              \"location\": \"global\",\n              \"model\": \"gemini-2.0-flash\"\n            }\n          },\n          {\n            \"quotaMetric\": \"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\n            \"quotaId\": \"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\n            \"quotaDimensions\": {\n              \"location\": \"global\",\n              \"model\": \"gemini-2.0-flash\"\n            }\n          },\n          {\n            \"quotaMetric\": \"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\n            \"quotaId\": \"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\n            \"quotaDimensions\": {\n              \"location\": \"global\",\n              \"model\": \"gemini-2.0-flash\"\n            }\n          }\n        ]\n      },\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.RetryInfo\",\n        \"retryDelay\": \"37s\"\n      }\n    ]\n  }\n}\n",
        "timestamp": 1765670902184,
        "context": {
          "itemIndex": 0,
          "request": {
            "body": {
              "bucket": "documents",
              "path": "e27a3r47yiu_1765646086369.txt"
            },
            "headers": {
              "apikey": "**hidden**",
              "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
            },
            "method": "POST",
            "uri": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
            "gzip": true,
            "rejectUnauthorized": true,
            "followRedirect": true,
            "resolveWithFullResponse": true,
            "followAllRedirects": true,
            "timeout": 300000,
            "encoding": null,
            "json": false,
            "useStream": true
          }
        },
        "functionality": "regular",
        "name": "NodeApiError",
        "node": {
          "parameters": {
            "preBuiltAgentsCalloutHttpRequest": "",
            "curlImport": "",
            "method": "POST",
            "url": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "provideSslCertificates": false,
            "sendQuery": false,
            "sendHeaders": false,
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "keypair",
            "bodyParameters": {
              "parameters": [
                {
                  "name": "bucket",
                  "value": "documents"
                },
                {
                  "name": "path",
                  "value": "={{ $json.file_path }}"
                }
              ]
            },
            "options": {},
            "infoMessage": ""
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [
            660,
            -100
          ],
          "id": "extract-text",
          "name": "Extract Text",
          "credentials": {
            "httpHeaderAuth": {
              "id": "Ku7I5ahwnWdwj5SM",
              "name": "Supabase Header Auth"
            }
          }
        },
        "messages": [
          "400 - \"{\\\"error\\\":\\\"Gemini API Error: 429 - {\\\\n  \\\\\\\"error\\\\\\\": {\\\\n    \\\\\\\"code\\\\\\\": 429,\\\\n    \\\\\\\"message\\\\\\\": \\\\\\\"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/usage?tab=rate-limit. \\\\\\\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\\\\\\\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\\\\\\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\\\\\\\nPlease retry in 37.893430006s.\\\\\\\",\\\\n    \\\\\\\"status\\\\\\\": \\\\\\\"RESOURCE_EXHAUSTED\\\\\\\",\\\\n    \\\\\\\"details\\\\\\\": [\\\\n      {\\\\n        \\\\\\\"@type\\\\\\\": \\\\\\\"type.googleapis.com/google.rpc.Help\\\\\\\",\\\\n        \\\\\\\"links\\\\\\\": [\\\\n          {\\\\n            \\\\\\\"description\\\\\\\": \\\\\\\"Learn more about Gemini API quotas\\\\\\\",\\\\n            \\\\\\\"url\\\\\\\": \\\\\\\"https://ai.google.dev/gemini-api/docs/rate-limits\\\\\\\"\\\\n          }\\\\n        ]\\\\n      },\\\\n      {\\\\n        \\\\\\\"@type\\\\\\\": \\\\\\\"type.googleapis.com/google.rpc.QuotaFailure\\\\\\\",\\\\n        \\\\\\\"violations\\\\\\\": [\\\\n          {\\\\n            \\\\\\\"quotaMetric\\\\\\\": \\\\\\\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\\\\\\\",\\\\n            \\\\\\\"quotaId\\\\\\\": \\\\\\\"GenerateContentInputTokensPerModelPerMinute-FreeTier\\\\\\\",\\\\n            \\\\\\\"quotaDimensions\\\\\\\": {\\\\n              \\\\\\\"location\\\\\\\": \\\\\\\"global\\\\\\\",\\\\n              \\\\\\\"model\\\\\\\": \\\\\\\"gemini-2.0-flash\\\\\\\"\\\\n            }\\\\n          },\\\\n          {\\\\n            \\\\\\\"quotaMetric\\\\\\\": \\\\\\\"generativelanguage.googleapis.com/generate_content_free_tier_requests\\\\\\\",\\\\n            \\\\\\\"quotaId\\\\\\\": \\\\\\\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\\\\\\\",\\\\n            \\\\\\\"quotaDimensions\\\\\\\": {\\\\n              \\\\\\\"location\\\\\\\": \\\\\\\"global\\\\\\\",\\\\n              \\\\\\\"model\\\\\\\": \\\\\\\"gemini-2.0-flash\\\\\\\"\\\\n            }\\\\n          },\\\\n          {\\\\n            \\\\\\\"quotaMetric\\\\\\\": \\\\\\\"generativelanguage.googleapis.com/generate_content_free_tier_requests\\\\\\\",\\\\n            \\\\\\\"quotaId\\\\\\\": \\\\\\\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\\\\\\\",\\\\n            \\\\\\\"quotaDimensions\\\\\\\": {\\\\n              \\\\\\\"location\\\\\\\": \\\\\\\"global\\\\\\\",\\\\n              \\\\\\\"model\\\\\\\": \\\\\\\"gemini-2.0-flash\\\\\\\"\\\\n            }\\\\n          }\\\\n        ]\\\\n      },\\\\n      {\\\\n        \\\\\\\"@type\\\\\\\": \\\\\\\"type.googleapis.com/google.rpc.RetryInfo\\\\\\\",\\\\n        \\\\\\\"retryDelay\\\\\\\": \\\\\\\"37s\\\\\\\"\\\\n      }\\\\n    ]\\\\n  }\\\\n}\\\\n\\\"}\""
        ],
        "httpCode": "400",
        "message": "Bad request - please check your parameters",
        "stack": "NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"
      },
      "runData": {
        "Schedule Trigger": [
          {
            "startTime": 1765670898032,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "timestamp": "2025-12-13T19:08:18.013-05:00",
                      "Readable date": "December 13th 2025, 7:08:18 pm",
                      "Readable time": "7:08:18 pm",
                      "Day of week": "Saturday",
                      "Year": "2025",
                      "Month": "December",
                      "Day of month": "13",
                      "Hour": "19",
                      "Minute": "08",
                      "Second": "18",
                      "Timezone": "America/New_York (UTC-05:00)"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Fetch Pending Docs": [
          {
            "startTime": 1765670898032,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Schedule Trigger"
              }
            ],
            "hints": [],
            "executionTime": 147,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "b8ef1ff0-feff-4f6d-a161-7958d2d4b80e",
                      "filename": "文字-79CB25A2D4BE-1.txt",
                      "file_path": "e27a3r47yiu_1765646086369.txt",
                      "size_bytes": 24781,
                      "content_type": "text/plain",
                      "embedding_status": "pending",
                      "created_at": "2025-12-13T17:14:47.703105+00:00"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Extract Text": [
          {
            "startTime": 1765670898180,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Fetch Pending Docs"
              }
            ],
            "hints": [],
            "executionTime": 4010,
            "executionStatus": "error",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "Gemini API Error: 429 - {\n  \"error\": {\n    \"code\": 429,\n    \"message\": \"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/usage?tab=rate-limit. \\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\nPlease retry in 37.893430006s.\",\n    \"status\": \"RESOURCE_EXHAUSTED\",\n    \"details\": [\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.Help\",\n        \"links\": [\n          {\n            \"description\": \"Learn more about Gemini API quotas\",\n            \"url\": \"https://ai.google.dev/gemini-api/docs/rate-limits\"\n          }\n        ]\n      },\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.QuotaFailure\",\n        \"violations\": [\n          {\n            \"quotaMetric\": \"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\",\n            \"quotaId\": \"GenerateContentInputTokensPerModelPerMinute-FreeTier\",\n            \"quotaDimensions\": {\n              \"location\": \"global\",\n              \"model\": \"gemini-2.0-flash\"\n            }\n          },\n          {\n            \"quotaMetric\": \"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\n            \"quotaId\": \"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\",\n            \"quotaDimensions\": {\n              \"location\": \"global\",\n              \"model\": \"gemini-2.0-flash\"\n            }\n          },\n          {\n            \"quotaMetric\": \"generativelanguage.googleapis.com/generate_content_free_tier_requests\",\n            \"quotaId\": \"GenerateRequestsPerDayPerProjectPerModel-FreeTier\",\n            \"quotaDimensions\": {\n              \"location\": \"global\",\n              \"model\": \"gemini-2.0-flash\"\n            }\n          }\n        ]\n      },\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.RetryInfo\",\n        \"retryDelay\": \"37s\"\n      }\n    ]\n  }\n}\n",
              "timestamp": 1765670902184,
              "context": {
                "itemIndex": 0,
                "request": {
                  "body": {
                    "bucket": "documents",
                    "path": "e27a3r47yiu_1765646086369.txt"
                  },
                  "headers": {
                    "apikey": "**hidden**",
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"
                  },
                  "method": "POST",
                  "uri": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
                  "gzip": true,
                  "rejectUnauthorized": true,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "preBuiltAgentsCalloutHttpRequest": "",
                  "curlImport": "",
                  "method": "POST",
                  "url": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
                  "authentication": "genericCredentialType",
                  "genericAuthType": "httpHeaderAuth",
                  "provideSslCertificates": false,
                  "sendQuery": false,
                  "sendHeaders": false,
                  "sendBody": true,
                  "contentType": "json",
                  "specifyBody": "keypair",
                  "bodyParameters": {
                    "parameters": [
                      {
                        "name": "bucket",
                        "value": "documents"
                      },
                      {
                        "name": "path",
                        "value": "={{ $json.file_path }}"
                      }
                    ]
                  },
                  "options": {},
                  "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                  660,
                  -100
                ],
                "id": "extract-text",
                "name": "Extract Text",
                "credentials": {
                  "httpHeaderAuth": {
                    "id": "Ku7I5ahwnWdwj5SM",
                    "name": "Supabase Header Auth"
                  }
                }
              },
              "messages": [
                "400 - \"{\\\"error\\\":\\\"Gemini API Error: 429 - {\\\\n  \\\\\\\"error\\\\\\\": {\\\\n    \\\\\\\"code\\\\\\\": 429,\\\\n    \\\\\\\"message\\\\\\\": \\\\\\\"You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/usage?tab=rate-limit. \\\\\\\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_input_token_count, limit: 0, model: gemini-2.0-flash\\\\\\\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\\\\\\\n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 0, model: gemini-2.0-flash\\\\\\\\nPlease retry in 37.893430006s.\\\\\\\",\\\\n    \\\\\\\"status\\\\\\\": \\\\\\\"RESOURCE_EXHAUSTED\\\\\\\",\\\\n    \\\\\\\"details\\\\\\\": [\\\\n      {\\\\n        \\\\\\\"@type\\\\\\\": \\\\\\\"type.googleapis.com/google.rpc.Help\\\\\\\",\\\\n        \\\\\\\"links\\\\\\\": [\\\\n          {\\\\n            \\\\\\\"description\\\\\\\": \\\\\\\"Learn more about Gemini API quotas\\\\\\\",\\\\n            \\\\\\\"url\\\\\\\": \\\\\\\"https://ai.google.dev/gemini-api/docs/rate-limits\\\\\\\"\\\\n          }\\\\n        ]\\\\n      },\\\\n      {\\\\n        \\\\\\\"@type\\\\\\\": \\\\\\\"type.googleapis.com/google.rpc.QuotaFailure\\\\\\\",\\\\n        \\\\\\\"violations\\\\\\\": [\\\\n          {\\\\n            \\\\\\\"quotaMetric\\\\\\\": \\\\\\\"generativelanguage.googleapis.com/generate_content_free_tier_input_token_count\\\\\\\",\\\\n            \\\\\\\"quotaId\\\\\\\": \\\\\\\"GenerateContentInputTokensPerModelPerMinute-FreeTier\\\\\\\",\\\\n            \\\\\\\"quotaDimensions\\\\\\\": {\\\\n              \\\\\\\"location\\\\\\\": \\\\\\\"global\\\\\\\",\\\\n              \\\\\\\"model\\\\\\\": \\\\\\\"gemini-2.0-flash\\\\\\\"\\\\n            }\\\\n          },\\\\n          {\\\\n            \\\\\\\"quotaMetric\\\\\\\": \\\\\\\"generativelanguage.googleapis.com/generate_content_free_tier_requests\\\\\\\",\\\\n            \\\\\\\"quotaId\\\\\\\": \\\\\\\"GenerateRequestsPerMinutePerProjectPerModel-FreeTier\\\\\\\",\\\\n            \\\\\\\"quotaDimensions\\\\\\\": {\\\\n              \\\\\\\"location\\\\\\\": \\\\\\\"global\\\\\\\",\\\\n              \\\\\\\"model\\\\\\\": \\\\\\\"gemini-2.0-flash\\\\\\\"\\\\n            }\\\\n          },\\\\n          {\\\\n            \\\\\\\"quotaMetric\\\\\\\": \\\\\\\"generativelanguage.googleapis.com/generate_content_free_tier_requests\\\\\\\",\\\\n            \\\\\\\"quotaId\\\\\\\": \\\\\\\"GenerateRequestsPerDayPerProjectPerModel-FreeTier\\\\\\\",\\\\n            \\\\\\\"quotaDimensions\\\\\\\": {\\\\n              \\\\\\\"location\\\\\\\": \\\\\\\"global\\\\\\\",\\\\n              \\\\\\\"model\\\\\\\": \\\\\\\"gemini-2.0-flash\\\\\\\"\\\\n            }\\\\n          }\\\\n        ]\\\\n      },\\\\n      {\\\\n        \\\\\\\"@type\\\\\\\": \\\\\\\"type.googleapis.com/google.rpc.RetryInfo\\\\\\\",\\\\n        \\\\\\\"retryDelay\\\\\\\": \\\\\\\"37s\\\\\\\"\\\\n      }\\\\n    ]\\\\n  }\\\\n}\\\\n\\\"}\""
              ],
              "httpCode": "400",
              "message": "Bad request - please check your parameters",
              "stack": "NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2274:11"
            }
          }
        ]
      },
      "lastNodeExecuted": "Extract Text"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [
        {
          "node": {
            "parameters": {
              "preBuiltAgentsCalloutHttpRequest": "",
              "curlImport": "",
              "method": "POST",
              "url": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
              "authentication": "genericCredentialType",
              "genericAuthType": "httpHeaderAuth",
              "provideSslCertificates": false,
              "sendQuery": false,
              "sendHeaders": false,
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "keypair",
              "bodyParameters": {
                "parameters": [
                  {
                    "name": "bucket",
                    "value": "documents"
                  },
                  {
                    "name": "path",
                    "value": "={{ $json.file_path }}"
                  }
                ]
              },
              "options": {},
              "infoMessage": ""
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
              660,
              -100
            ],
            "id": "extract-text",
            "name": "Extract Text",
            "credentials": {
              "httpHeaderAuth": {
                "id": "Ku7I5ahwnWdwj5SM",
                "name": "Supabase Header Auth"
              }
            }
          },
          "data": {
            "main": [
              [
                {
                  "json": {
                    "id": "b8ef1ff0-feff-4f6d-a161-7958d2d4b80e",
                    "filename": "文字-79CB25A2D4BE-1.txt",
                    "file_path": "e27a3r47yiu_1765646086369.txt",
                    "size_bytes": 24781,
                    "content_type": "text/plain",
                    "embedding_status": "pending",
                    "created_at": "2025-12-13T17:14:47.703105+00:00"
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ]
          },
          "source": {
            "main": [
              {
                "previousNode": "Fetch Pending Docs"
              }
            ]
          }
        }
      ],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1765670898032,
        "source": "trigger"
      }
    }
  },
  "workflowData": {
    "id": "HDmC5rU2YOZxaxIY",
    "name": "WF07-Embedding",
    "active": true,
    "activeVersionId": "8fb7fe6d-8cb8-449a-b349-46676425e387",
    "isArchived": true,
    "createdAt": "2025-12-13T16:39:40.528Z",
    "updatedAt": "2025-12-13T17:23:58.048Z",
    "nodes": [
      {
        "parameters": {
          "notice": "",
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "schedule-trigger",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "GET",
          "url": "https://goyonrowhfphooryfzif.supabase.co/rest/v1/knowledge_docs?embedding_status=eq.pending&limit=1&select=*",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": false,
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          220,
          0
        ],
        "id": "fetch-pending-docs",
        "name": "Fetch Pending Docs",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Ku7I5ahwnWdwj5SM",
            "name": "Supabase Header Auth"
          }
        }
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "bucket",
                "value": "documents"
              },
              {
                "name": "path",
                "value": "={{ $json.file_path }}"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          660,
          -100
        ],
        "id": "extract-text",
        "name": "Extract Text",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Ku7I5ahwnWdwj5SM",
            "name": "Supabase Header Auth"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Simple text chunking logic\nconst text = $json.text || '';\nconst CHUNK_SIZE = 1000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\n\nreturn chunks.map(chunk => ({ json: { chunk, doc_id: $('Fetch Pending Docs').item.json.id } }));",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          -100
        ],
        "id": "chunk-text",
        "name": "Chunk Text"
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent?key=AIzaSyDkre1QTNfODUPXj5U-Zt8YTGasZNE4PkM",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "models/text-embedding-004"
              },
              {
                "name": "content",
                "value": "={{ { parts: [{ text: $json.chunk }] } }}"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1100,
          -100
        ],
        "id": "generate-embedding",
        "name": "Generate Embedding"
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://goyonrowhfphooryfzif.supabase.co/rest/v1/document_embeddings",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "doc_id",
                "value": "={{ $('Chunk Text').item.json.doc_id }}"
              },
              {
                "name": "chunk_text",
                "value": "={{ $('Chunk Text').item.json.chunk }}"
              },
              {
                "name": "embedding",
                "value": "={{ JSON.stringify($json.embedding.values) }}"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1320,
          -100
        ],
        "id": "insert-embeddings",
        "name": "Insert Embeddings",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Ku7I5ahwnWdwj5SM",
            "name": "Supabase Header Auth"
          }
        }
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "PATCH",
          "url": "=https://goyonrowhfphooryfzif.supabase.co/rest/v1/knowledge_docs?id=eq.{{ $('Fetch Pending Docs').item.json.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "embedding_status",
                "value": "embedded"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1540,
          -100
        ],
        "id": "update-status",
        "name": "Update Status",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Ku7I5ahwnWdwj5SM",
            "name": "Supabase Header Auth"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Fetch Pending Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Pending Docs": {
        "main": [
          [
            {
              "node": "Extract Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text": {
        "main": [
          [
            {
              "node": "Chunk Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chunk Text": {
        "main": [
          [
            {
              "node": "Generate Embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Embedding": {
        "main": [
          [
            {
              "node": "Insert Embeddings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Embeddings": {
        "main": [
          [
            {
              "node": "Update Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "pinData": {}
  },
  "customData": {}
}
