backend/n8n/WF01-Document-Parsing.json
{
    "name": "WF01-Document-Ingestion",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ingest",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://goyonrowhfphooryfzif.supabase.co/functions/v1/extract-text",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "bucket",
                            "value": "raw-files"
                        },
                        {
                            "name": "path",
                            "value": "={{ $json.body.title }}"
                        },
                        {
                            "name": "apiKey",
                            "value": "={{ $env.GOOGLE_GEMINI_API_KEY }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 360000
                }
            },
            "name": "Call Edge Function",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Ku7I5ahwnWdwj5SM",
                    "name": "Supabase Header Auth"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $(\"Webhook\").item.json.body.source_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "processing"
                        },
                        {
                            "name": "content",
                            "value": "={{ JSON.stringify($json.pages) }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Update Source Content",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Ku7I5ahwnWdwj5SM",
                    "name": "Supabase Header Auth"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Call Edge Function",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Edge Function": {
            "main": [
                [
                    {
                        "node": "Update Source Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}