backend/n8n/WF01-Document-Parsing.json
{
    "name": "WF01-Document-Ingestion",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ingest",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/functions/v1/extract-text",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "bucket",
                            "value": "raw-files"
                        },
                        {
                            "name": "path",
                            "value": "={{ $json.body.title }}"
                        },
                        {
                            "name": "apiKey",
                            "value": "AIzaSyAIEWQafKblPqGJNMiRsb2T5L7LbxOUgeU"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Extract Text via Edge Fn",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Ku7I5ahwnWdwj5SM",
                    "name": "Supabase Header Auth"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $(\"Webhook\").item.json.body.source_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "processing"
                        },
                        {
                            "name": "content",
                            "value": "={{ $(\"Extract Text via Edge Fn\").item.json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Update Source Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Ku7I5ahwnWdwj5SM",
                    "name": "Supabase Header Auth"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/parse-tender",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "source_id",
                            "value": "={{ $(\"Webhook\").item.json.body.source_id }}"
                        },
                        {
                            "name": "project_id",
                            "value": "={{ $(\"Webhook\").item.json.body.projectId }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Trigger Criteria Parsing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Text via Edge Fn",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Text via Edge Fn": {
            "main": [
                [
                    {
                        "node": "Update Source Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Source Status": {
            "main": [
                [
                    {
                        "node": "Trigger Criteria Parsing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}