backend/n8n/WF04-Structure-Generation-Main.json
{
    "id": "QjIHN2I75HTPrXqj",
    "active": true,
    "name": "WF04-Structure-Generation-Main",
    "nodes": [
        {
            "parameters": {
                "path": "generate-structure-check",
                "httpMethod": "POST",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-check",
            "name": "Webhook: Check & Generate",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "generate-structure-check"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.SUPABASE_URL + '/rest/v1/project_assessments?project_id=eq.' + $('Webhook: Check & Generate').first().json.body.projectId }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "supabase-get-assessment",
            "name": "Supabase: Get Assessment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/criteria?project_id=eq.{{ $('Webhook: Check & Generate').first().json.body.projectId }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "supabase-get-criteria",
            "name": "Supabase: Get Criteria",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const rawCriteria = $('Supabase: Get Criteria').all().map(i => i.json);\n// FILTER OUT EMPTY OBJECTS: Fix for [{}]\nconst criteria = rawCriteria.filter(c => c && Object.keys(c).length > 0 && c.title);\n\nconst assessment = $('Supabase: Get Assessment').first().json || {};\nconst outline = assessment.requirements?.proposal_outline || assessment.requirements?.content?.['必要章節'] || assessment.requirements?.content?.['目錄'];\n\nfunction getBodyText(data) {\n    if (!data) return '';\n    \n    // 1. Try JSON Parse\n    if (typeof data === 'string' && (data.trim().startsWith('{') || data.trim().startsWith('['))) {\n        try {\n            data = JSON.parse(data);\n        } catch (e) {}\n    }\n\n    // 2. Extract Text from Object (Tiptap/ProseMirror)\n    if (typeof data === 'object' && data !== null) {\n        // Ignore Content inside Headings (treat them as template stubs)\n        if (data.type === 'heading') return ''; \n\n        if (Array.isArray(data)) return data.map(getBodyText).join('');\n        if (data.text) return data.text;\n        if (data.content) return getBodyText(data.content);\n        \n        // If generic object, return values\n        return Object.values(data).map(getBodyText).join('');\n    }\n\n    // 3. String: Strip HTML (Fallback if not JSON)\n    return String(data).replace(/<[^>]*>?/gm, '').replace(/&nbsp;/g, ' ');\n}\n\nlet cleanText = getBodyText(outline).trim();\n\n// FILTER: Treat standard \"No Info\" phrases as empty/invalid\nconst negativePhrases = /未明確規定|尚無|無特別|暫無|不適用|沒有提到|未提及/;\nif (negativePhrases.test(cleanText)) {\n    cleanText = '';\n}\n\n// Threshold can be low (5) because we stripped all headers!\nconst isMeaningful = cleanText.length > 5;\n\nreturn {\n    json: {\n        isValid: (criteria.length > 0) || isMeaningful,\n        debug_clean_text_len: cleanText.length,\n        debug_clean_text: cleanText.substring(0, 50)\n    }\n};"
            },
            "id": "check-data-exists",
            "name": "Analyze Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.isValid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "verify-data-gate",
            "name": "Gate: Valid Data?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"error\": \"MISSING_DATA\",\n  \"message\": \"No structure data found\"\n}",
                "options": {
                    "responseCode": 422
                }
            },
            "id": "respond-missing",
            "name": "Respond: Missing Data",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.AZURE_OPENAI_ENDPOINT }}openai/deployments/{{ $env.AZURE_OPENAI_DEPLOYMENT }}/chat/completions?api-version={{ $env.AZURE_OPENAI_API_VERSION }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "={{ $env.AZURE_OPENAI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ messages: [{ role: 'user', content: \"You are a proposal architect. Your task is to generate a comprehensive nested chapter structure by merging two data sources: 'Requirements' (The Skeleton) and 'Criteria' (The Details).\\n\\n**DATA MERGE STRATEGY (CRITICAL):**\\n1. **THE SKELETON (Level 1 Chapters)**:\\n   - You MUST use the 'Requirements' data (specifically '必要章節' or '目錄') to define the **Main Chapter Titles** and **Order**.\\n   - DO NOT add main chapters from 'Criteria' if they are not in 'Requirements'.\\n   - DO NOT miss any main chapters from 'Requirements'.\\n\\n2. **THE DETAILS (Level 2 Sub-chapters)**:\\n   - For EACH Main Chapter, look for a matching item in the 'Criteria' list.\\n   - **IF MATCH FOUND**: Analyze the description content.\\n\\n**INTELLIGENT PARSING RULES (STRICT):**\\n1. **CONDITIONAL TITLING (Hybrid Strategy)**:\\n   - **CASE A (< 20 chars): STRICT VERBATIM**:\\n     - IF the sub-item text is under **20 characters**, **COPY IT EXACTLY**.\\n     - **CRITICAL**: Do NOT remove words like '及執行方式', '機制', '規劃'. Keep it ALL.\\n     - Example: '1. 資安管理規劃及執行方式' -> '1.1 資安管理規劃及執行方式' (MUST BE IDENTICAL)\\n\\n   - **CASE B (> 20 chars): CONCISE EXTRACTION (Max 25 chars)**:\\n     - **De-Labeling**: Remove labels like '2.經驗：', '3.信譽：'. Use the **CONTENT**.\\n     - **Metric Extraction**: Focus on **Numbers + Core Noun**.\\n     - **Constraint**: **ABSOLUTE MAX 25 CHARACTERS**.\\n     - Example: '2.經驗：3年內1,000萬以上大型軟體系統建置案實績...' (45 chars)\\n       -> '1.2 3年內1,000萬以上大型軟體系統建置案實績' (22 chars) [ALLOWED]\\n     - Example: '... (containing user research analysis)...' -> REMOVE (Too detailed / Fluff).\\n\\n2. **INFER MISSING ITEMS**: \\n   - IF the description starts with '2.' or '(2)', it implies Item 1 is missing.\\n   - YOU MUST GENERATE Item 1 based on the **Chapter Title** itself.\\n   - Example: If Chapter is 'Company Info' and text starts at '2. Experience', generate '1.1 公司基本資料' first.\\n\\n3. **DENSE TEXT SPLITTING**:\\n   - IF text is a block with embedded numbers (e.g., '1. ... 2. ...'), FORCE SPLIT into separate sub-chapters.\\n   - IF text has no numbers but covers distinct concepts (e.g. 'Manpower, Certifications, Tools'), SPLIT them logically.\\n\\n**FORMATTING RULES:**\\n- **Main Chapters**: Check title. If it lacks numbering (1., 一、, 壹、), PREPEND traditional Chinese numbering (壹、, 貳、, 參、...) based on the order in 'Requirements'.\\n- **Sub-Chapters**: Use Arabic numbering (e.g., 1.1, 1.2).\\n- **Language**: Output MUST be Traditional Chinese (繁體中文).\\n\\nCriteria Data: \" + JSON.stringify($('Supabase: Get Criteria').all().map(v => v.json)) + \"\\nRequirements Data: \" + JSON.stringify($node['Supabase: Get Assessment'].json.requirements) + \"\\n\\nReturn JSON: { \\\"chapters\\\": [{ \\\"title\\\": \\\"壹、章節名稱\\\", \\\"description\\\": \\\"...\\\", \\\"subsections\\\": [{ \\\"title\\\": \\\"1.1 短標題\\\", \\\"description\\\": \\\"...\\\" }] }] }\" }], response_format: { type: 'json_object' } }) }}",
                "options": {}
            },
            "id": "openai-generate",
            "name": "OpenAI: Generate Structure",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1300,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "const aiRes = $input.item.json;\nlet text = aiRes.choices?.[0]?.message?.content || '';\ntext = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nfunction generateUUID() {\n    // Simple UUID v4 generator for n8n code node compatibility\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n    });\n}\n\ntry {\n    const parsed = JSON.parse(text);\n    const structure = Array.isArray(parsed) ? parsed : (parsed.chapters || parsed.sections || []);\n    \n    if (!Array.isArray(structure)) {\n        throw new Error('Parsed JSON is not an array: ' + text.substring(0, 100));\n    }\n\n    const webhookData = $('Webhook: Check & Generate').first().json;\n    const projectId = webhookData.body.projectId;\n    if (!projectId) throw new Error('Project ID not found in Webhook');\n\n    let allParents = [];\n    let allChildren = [];\n    let startIndex = 1;\n    \n    structure.forEach((chapter, index) => {\n        const chapterId = generateUUID();\n        const parentOrder = startIndex + index;\n        \n        // Parent\n        allParents.push({\n            id: chapterId,\n            project_id: projectId,\n            title: chapter.title || 'Untitled Chapter',\n            content_draft: chapter.description || '',\n            order_index: parentOrder * 100,\n            generation_method: 'ai_gen',\n            parent_id: null\n        });\n\n        // Children\n        if (chapter.subsections && Array.isArray(chapter.subsections)) {\n            chapter.subsections.forEach((sub, subIndex) => {\n                allChildren.push({\n                    id: generateUUID(),\n                    project_id: projectId,\n                    title: sub.title || 'Untitled Subsection',\n                    content_draft: sub.description || '',\n                    order_index: (parentOrder * 100) + (subIndex + 1),\n                    generation_method: 'ai_gen',\n                    parent_id: chapterId\n                });\n            });\n        }\n    });\n\n    // Return single item containing both arrays to be used by downstream nodes\n    return {\n        json: {\n            parents: allParents,\n            children: allChildren\n        }\n    };\n} catch(e) {\n    throw new Error('Failed to parse OpenAI JSON or process data: ' + e.message);\n}"
            },
            "id": "parse-openai-response",
            "name": "Parse OpenAI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1450,
                150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL + '/rest/v1/sections' }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.parents }}",
                "options": {}
            },
            "id": "supabase-insert-parents",
            "name": "Supabase: Insert Parents",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1650,
                150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL + '/rest/v1/sections' }}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('Parse OpenAI Response').first().json.children }}",
                "options": {}
            },
            "id": "supabase-insert-children",
            "name": "Supabase: Insert Children",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1850,
                150
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": true,\n  \"message\": \"Structure generated successfully (Including Sub-sections)\"\n}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond: Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2050,
                150
            ]
        }
    ],
    "connections": {
        "Webhook: Check & Generate": {
            "main": [
                [
                    {
                        "node": "Supabase: Get Assessment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Get Assessment": {
            "main": [
                [
                    {
                        "node": "Supabase: Get Criteria",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Get Criteria": {
            "main": [
                [
                    {
                        "node": "Analyze Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Data": {
            "main": [
                [
                    {
                        "node": "Gate: Valid Data?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gate: Valid Data?": {
            "main": [
                [
                    {
                        "node": "OpenAI: Generate Structure",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond: Missing Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI: Generate Structure": {
            "main": [
                [
                    {
                        "node": "Parse OpenAI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse OpenAI Response": {
            "main": [
                [
                    {
                        "node": "Supabase: Insert Parents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Insert Parents": {
            "main": [
                [
                    {
                        "node": "Supabase: Insert Children",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Insert Children": {
            "main": [
                [
                    {
                        "node": "Respond: Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}