backend/n8n/WF06-Drafting-v5.json
{
    "name": "WF06-Drafting-v5",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "draft",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook"
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAIEWQafKblPqGJNMiRsb2T5L7LbxOUgeU",
                "method": "POST",
                "authentication": "none",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [ { parts: [ { text: \"You are an expert RFP bid writer. Write a professional draft response (1-2 paragraphs) for:\\nRequirement: \" + $json.body.requirement + \"\\nContext: \" + ($json.body.context || 'None') } ] } ] }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                250,
                0
            ],
            "id": "gemini-http",
            "name": "Gemini API Request"
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json;\nconst draft = response.candidates?.[0]?.content?.parts?.[0]?.text || \"Error generating draft.\";\nreturn { json: { draft } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ],
            "id": "format-output",
            "name": "Format Output"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini API Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini API Request": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}