backend/n8n/WF07-Embedding.json
{
  "name": "WF07-Embedding-Gemini",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?status=eq.processing&content=not.is.null&select=id,title,content,project_id,source_type&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Fetch Processing Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  const source = item.json;\n  let pages = [];\n  try {\n    const parsed = JSON.parse(source.content);\n    if (parsed.pages && Array.isArray(parsed.pages)) {\n        pages = parsed.pages;\n    } else if (Array.isArray(parsed)) {\n        pages = parsed;\n    } else {\n        pages = [{ page: 1, content: source.content }];\n    }\n  } catch (e) {\n    // Fallback for old content (plain text)\n    pages = [{ page: 1, content: source.content }];\n  }\n  \n  if (pages.length === 0) pages = [{ page: 1, content: source.content }];\n\n  for (const page of pages) {\n    newItems.push({\n      json: {\n        ...source,\n        chunk_content: page.content,\n        page_number: page.page\n      }\n    });\n  }\n}\n\nreturn newItems;"
      },
      "name": "Split Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        620,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent?key=AIzaSyAIEWQafKblPqGJNMiRsb2T5L7LbxOUgeU",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "models/text-embedding-004"
            },
            {
              "name": "content",
              "value": "={{ { parts: [{ text: $json.chunk_content || $json.content || '' }] } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Gemini Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "content",
              "value": "={{ $json.chunk_content }}"
            },
            {
              "name": "embedding",
              "value": "={{ $json.embedding.values }}"
            },
            {
              "name": "metadata",
              "value": "={{ { page: $json.page_number } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save Chunks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $('Fetch Processing Source').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ready"
            }
          ]
        },
        "options": {}
      },
      "name": "Mark Source Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "project-id-check",
              "leftValue": "={{ $('Fetch Processing Source').item.json.project_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Has Project ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/project_sources",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal,resolution=ignore-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "={{ $('Fetch Processing Source').item.json.project_id }}"
            },
            {
              "name": "source_id",
              "value": "={{ $('Fetch Processing Source').item.json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Link to Project KB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Processing Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Processing Source": {
      "main": [
        [
          {
            "node": "Split Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pages": {
      "main": [
        [
          {
            "node": "Gemini Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embed": {
      "main": [
        [
          {
            "node": "Save Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chunks": {
      "main": [
        [
          {
            "node": "Mark Source Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Source Ready": {
      "main": [
        [
          {
            "node": "Has Project ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Project ID?": {
      "main": [
        [
          {
            "node": "Link to Project KB",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1de78f2b-516f-42fe-a3db-d2af2db1603f",
  "id": "AxIETKBv40B9ZiL5",
  "tags": []
}