backend/n8n/WF07-Embedding.json
{
  "name": "WF07-Embedding-Gemini",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?status=eq.processing&content=not.is.null&select=id,title,content,project_id,source_type&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Fetch Processing Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent?key=AIzaSyAIEWQafKblPqGJNMiRsb2T5L7LbxOUgeU",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "models/text-embedding-004"
            },
            {
              "name": "content",
              "value": "={{ { parts: [{ text: $json.chunk || $json.content || '' }] } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Gemini Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chunks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{ $('Fetch Processing Source').item.json.id }}"
            },
            {
              "name": "content",
              "value": "={{ $('Fetch Processing Source').item.json.content }}"
            },
            {
              "name": "embedding",
              "value": "={{ $json.embedding.values }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save Chunks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sources?id=eq.{{ $('Fetch Processing Source').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ready"
            }
          ]
        },
        "options": {}
      },
      "name": "Mark Source Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "project-id-check",
              "leftValue": "={{ $('Fetch Processing Source').item.json.project_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Project ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/project_sources",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal,resolution=ignore-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "={{ $('Fetch Processing Source').item.json.project_id }}"
            },
            {
              "name": "source_id",
              "value": "={{ $('Fetch Processing Source').item.json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Link to Project KB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ku7I5ahwnWdwj5SM",
          "name": "Supabase Header Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Processing Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Processing Source": {
      "main": [
        [
          {
            "node": "Gemini Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embed": {
      "main": [
        [
          {
            "node": "Save Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chunks": {
      "main": [
        [
          {
            "node": "Mark Source Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Source Ready": {
      "main": [
        [
          {
            "node": "Has Project ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Project ID?": {
      "main": [
        [
          {
            "node": "Link to Project KB",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1de78f2b-516f-42fe-a3db-d2af2db1603f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "115a80696d263dc04eee6d2c8cc1c5ab95152f4a4d5cefd1c1e1a778e38472be"
  },
  "id": "AxIETKBv40B9ZiL5",
  "tags": []
}