backend/n8n/WF08-RAG-Query.json
{
    "name": "WF08-RAG-Query-Gemini",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "rag-query",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent?key=AIzaSyAIEWQafKblPqGJNMiRsb2T5L7LbxOUgeU",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'models/text-embedding-004', content: { parts: [{ text: $json.body.query }] } }) }}"
            },
            "id": "embed-1",
            "name": "Gemini Embed Query",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://goyonrowhfphooryfzif.supabase.co/rest/v1/rpc/match_chunks_by_project",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ query_embedding: $json.embedding.values, match_threshold: 0.0, match_count: 5, filter_project_id: $('Webhook').item.json.body.project_id }) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "vector-1",
            "name": "Supabase Vector Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Ku7I5ahwnWdwj5SM",
                    "name": "Supabase Header Auth"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 處理 Vector Search 結果\nconst chunks = $input.first().json;\nconst query = $('Webhook').first().json.body.query;\n\n// 如果沒有找到相關內容，使用預設訊息\nlet context = '（無匹配的參考資料，請基於專業知識生成）';\nlet sources = [];\n\nif (Array.isArray(chunks) && chunks.length > 0) {\n  context = chunks.map(c => c.content).join('\\n---\\n');\n  sources = chunks.map(c => ({ id: c.id, title: c.source_title, similarity: c.similarity }));\n}\n\nreturn [{\n  json: {\n    context,\n    query,\n    sources\n  }\n}];"
            },
            "id": "code-1",
            "name": "Process Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-001:generateContent?key=AIzaSyAIEWQafKblPqGJNMiRsb2T5L7LbxOUgeU",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: '你是一位專業的標案撰寫專家。請根據以下參考資料，為標案章節撰寫專業、詳細的內容草稿。\\n\\n參考資料：\\n' + $json.context + '\\n\\n請撰寫：' + $json.query + '\\n\\n要求：\\n1. 內容要專業、具體\\n2. 使用正式的標案用語\\n3. 結構清晰，分段落說明\\n4. 字數約500-800字' }] }] }) }}"
            },
            "id": "generate-1",
            "name": "Gemini Generate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ answer: $json.candidates[0].content.parts[0].text, sources: $('Process Results').first().json.sources }) }}"
            },
            "id": "respond-1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini Embed Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Embed Query": {
            "main": [
                [
                    {
                        "node": "Supabase Vector Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Vector Search": {
            "main": [
                [
                    {
                        "node": "Process Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Results": {
            "main": [
                [
                    {
                        "node": "Gemini Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Generate": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}